<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.82.0">
    <title>MedsParency</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">

    

    <!-- Bootstrap core CSS -->
<link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">


    
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
  <body>
    
<header>
  <nav class="navbar navbar-expand navbar-dark bg-success fixed-top" aria-label="Second navbar example">
    <div class="container-fluid">
      <a class="navbar-brand fs-4" href="http://localhost:3000/Index">MedsParency</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/RawMaterial">Raw Material</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/ManufacturingDetails">Manufacturing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/QualityAssurance">Packaging</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/tracking">Tracking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/Customer">Customer Page</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</header>

<main>

  <<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../public/c1.png" alt="First slide">
      <div class="carousel-caption d-none d-md-block text-dark">
        <h1 class="text-dark"></h1>
        <p class="text-dark"></p>
      </div>
    </div>
  </div>
</div>

<div class="pricing-header pt-1 p-3 pb-md-4 mx-auto text-center">
       <p class="fs-5">Transparent Supply Chain of Medicines to Prevent Counterfeiting</p>
       
  </div>

  
  <div class="container marketing text-center">

    <p>MedsParency is a medicine tracking system which ensures transparency of supply chain
        by keeping a track of the medicines delivered. By storing the tracks of a medicine through
        blockchain, one can know whether it comes from a valid source or not. So, buyers can ensure
        that the medicine they are buying is not fake or a knock-off while being able to purchase it from
        a local retailer or a popular pharmacy.</p>
    <div class="pt-3"></div>
    <hr class="featurette-divider ">
    <!-- Three columns of text below the carousel -->

    <div class="container pt-4 ">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 border-success">
          <div class="card-header text-white bg-success border-success">
            <h4 class="my-0 font-weight-normal">Raw Materials</h4>
          </div>
          <div class="card-body">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../public/1.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

            <h3 class="my-3" >Raw Material Details</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Raw Material Details</li>
              <li>Package Details</li>
              <li>Drug Detiails</li>
              <li>Only Storeman has access</li>
            </ul>
            <a href="http://localhost:3000/RawMaterial" class="btn btn-lg btn-block btn-outline-success" role="button">Enter Raw Materials</a>
  
          </div>
        </div>
        <div class="card mb-4 border-success">
          <div class="card-header text-white bg-success border-success">
            <h4 class="my-0 font-weight-normal">Manufacturing Details</h4>
          </div>
          <div class="card-body">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../public/3.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

            <h3 class="my-3" >Manufacturing Details</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Manufacturing Details</li>
              <li>Package Details</li>
              <li>Drug Detiails</li>
              <li>Only MUO has access</li>
            </ul>
            <a href="http://localhost:3000/ManufacturingDetails" class="btn btn-lg btn-block btn-outline-success" role="button">Enter Manufacturing Details</a>
          </div>
        </div>
        <div class="card mb-4 border-success">
          <div class="card-header text-white bg-success border-success">
            <h4 class="my-0 font-weight-normal">Quality Assurance</h4>
          </div>
          <div class="card-body">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../public/2.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

            <h3 class="my-3" >Quality Assurance</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Manufacturing/Expiry Dates</li>
              <li>Price Detiails</li>
              <li>Drug Details</li>
              <li>Only QAO has access</li>
            </ul>
            <a href="http://localhost:3000/QualityAssurance" class="btn btn-lg btn-block btn-outline-success" role="button">Enter Quality Assurance Info</a>
            
          </div>
        </div>
      </div>


    <!-- START THE FEATURETTES -->

    <div class="pt-4"></div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading pt-3">Project Vision</h2>
        <p class="lead pt-2">The vision behind MedsParency is to provide a secure platform for interoperability
        between organizations and end users where every chunk of sensitive information regarding the
        manufactured medicines being shared to eradicate counterfeiting of drugs and any attempt to
        tarnish pharmaceutical repute by tempering the historical records.</p>

        <p class="lead pt-2">Moreover, manufacturing and quality standards of both the product and raw materials
        used can be maintained according to local drug regulatory authorities or WHO standards to
        lower health risks and side effects. It also ensures price and hoarding control so customers will
        not be overcharged for short, expensive and sensitive lifesaving drugs and lessens the hassle of
        a manual documentation of supply chain, which is insecure, by storing it on an immutable and
        transparent digital ledger that can be accessed by anyone from anywhere.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../public/11.png" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading pt-4">Problem Statement</h2>
        <p class="lead pt-3">In pharmacology, production of counterfeit medicines is one of the major problems
        faced these days. According to a research conducted by The Health Funding Organization, 10-
        30% of drugs are reported to be fake in the developing countries. In addition to this research,
        according to WHO, about 30% of the medicines sold in Asia, Africa and Latin America are fake.
        But this issue is more serious in developing countries where 1 out of every 10 medicines is fake.
        Counterfeiting doesn’t seem to be a big issue in itself but it has different side effects as
        compared to that of original/conventional medicines, which may cause harm to human health.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../public/22.jpeg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading pt-5">Objectives</h2>
        <p class="lead pt-4">
          <li class="lead">To ease the already existing procedure of medicines authentication</li>
          <li class="lead">To secure the medical records of pharmaceuticals</li>
          <li class="lead">To put an end to black marketing of drugs</li>
          <li class="lead" >To reduce load management</li>
          </p>
      </div>
      <div class="col-md-5">
        <<img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../public/33.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#" class="btn btn-block btn-outline-success" role="button">Back to Top</a></p>
    <p>&copy; 2020–2021 MedsParency</p>
  </footer>
</main>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

      
  </body>
</html>
